@tailwind base;
@tailwind components;
@tailwind utilities;

.font-noto {
  font-family: 'Noto Sans TC', sans-serif;
}

.font-logo {
  font-family: 'Mulish', sans-serif;
}

@layer base {
  
  html,body {
    @apply font-sans;
    scroll-behavior: smooth;
  }
}

.link {
  @apply block transition duration-300 ease-in-out hover:bg-primary hover:bg-opacity-70 hover:text-white;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.form-control {
  @apply text-secondary rounded border border-secondary-light focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent py-2 px-3 w-full;
}

.btn-warn {
  @apply w-full transition duration-300 ease-in-out bg-red hover:bg-red-dark text-white grid place-content-center rounded-xl text-xl py-3;
}

.btn-cancel {
  @apply w-full transition duration-300 ease-in-out bg-black hover:bg-primary-dark text-white grid place-content-center rounded-xl text-xl py-3
}

.animate-rotate {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg)
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-rotate-tiny {
  animation: rotate-tiny 3s infinite;
}

@keyframes rotate-tiny {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}